@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
:root {
  --clr-white: #fff;
  --clr-body: #DCDCDC;
  --clr-tag: #EEEEEE;
  --clr-tag-active: #03A9F4;
  --ff-main: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-size: 62.5%;
  font-family: var(--ff-main);
}

.grid-container {
  min-height: 100vh;
  width: 100%;
  font-size: 1.6rem;
  position: relative;
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: 7rem 1fr;
  background: var(--clr-body);
}
.grid-container header {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.6rem;
  background: var(--clr-white);
}
.grid-container header .header__tags {
  display: flex;
  align-items: center;
}
.grid-container header .header__tags-item {
  margin: 0.5rem;
  display: block;
  cursor: pointer;
  list-style: none;
  padding: 0.8rem 2rem;
  letter-spacing: 0.1rem;
  background: var(--clr-tag);
}
.grid-container header .header__tags-item:hover, .grid-container header .header__tags-item.active {
  background: var(--clr-tag-active);
  color: var(--clr-white);
}
.grid-container main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.grid-container main .product__list {
  height: 100%;
  width: 120rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.grid-container main .product__list .list__card {
  height: fit-content;
  width: 25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.grid-container main .product__list .list__card-top {
  width: 100%;
  display: flex;
  object-fit: cover;
  overflow: hidden;
}
.grid-container main .product__list .list__card-top img {
  width: 100%;
  transition: transform 0.3s linear;
}
.grid-container main .product__list .list__card-top .list__card-menu {
  position: absolute;
  top: 1.4rem;
  right: 0;
  height: 12rem;
  width: 5.4rem;
  z-index: 1;
  padding-right: 1.4rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
}
.grid-container main .product__list .list__card-top .list__card-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background: var(--clr-white);
  transition: transform 0.2s linear;
  transform: translateX(150%);
}
.grid-container main .product__list .list__card-top .list__card-menu li:nth-child(1) {
  transition-delay: 0.3s;
}
.grid-container main .product__list .list__card-top .list__card-menu li:nth-child(2) {
  margin: 0.4rem 0;
  transition-delay: 0.2s;
}
.grid-container main .product__list .list__card-top .list__card-menu li:nth-child(3) {
  transition-delay: 0.1s;
}
.grid-container main .product__list .list__card-top .list__card-menu li:hover {
  background: #FF2020;
  color: var(--clr-white);
  cursor: pointer;
}
.grid-container main .product__list .list__card-bottom {
  padding: 0 1rem;
  height: 12rem;
  background: var(--clr-white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid-container main .product__list .list__card-bottom .prod__name {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  grid-column: 1/3;
}
.grid-container main .product__list .list__card-bottom .prod__price {
  color: #FF2020;
  font-size: 2rem;
  grid-column: 1/2;
}
.grid-container main .product__list .list__card-bottom .prod__rate {
  margin-left: auto;
  color: #FFD513;
  grid-column: 2/3;
}
.grid-container main .product__list .list__card-bottom .prod__rate svg {
  margin: 0 0.1rem;
  cursor: pointer;
}
.grid-container main .product__list .list__card:hover img {
  transform: scale(1.5) translateX(-10%);
}
.grid-container main .product__list .list__card:hover .list__card-menu li {
  transition: transform 0.3s linear;
  transform: translateX(0);
}
.grid-container main .product__list .list__card:hover .list__card-menu li:nth-child(1) {
  transition-delay: 0.1s;
}
.grid-container main .product__list .list__card:hover .list__card-menu li:nth-child(2) {
  transition-delay: 0.25s;
}
.grid-container main .product__list .list__card:hover .list__card-menu li:nth-child(3) {
  transition-delay: 0.35s;
}
.grid-container main .paginate {
  display: flex;
  justify-content: center;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  margin-top: 2.3rem;
  font-size: 1.3rem;
}
.grid-container main .paginate-pre, .grid-container main .paginate-next {
  background: #EFEFEF;
  width: 4rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background 0.25s linear;
}
.grid-container main .paginate-pre:hover, .grid-container main .paginate-pre.active, .grid-container main .paginate-next:hover, .grid-container main .paginate-next.active {
  background: var(--clr-tag-active);
  color: var(--clr-white);
}
.grid-container main .paginate-pages {
  display: flex;
  list-style: none;
  margin: auto;
}
.grid-container main .paginate-pages .page {
  margin: 0 0 0 1rem;
  width: 4rem;
  background: #EFEFEF;
  cursor: pointer;
  transition: background 0.25s linear;
}
.grid-container main .paginate-pages .page:last-child {
  margin-right: 1rem;
}
.grid-container main .paginate-pages .page:hover, .grid-container main .paginate-pages .page.active {
  background: var(--clr-tag-active);
  color: var(--clr-white);
}

@media (max-width: 1200px) {
  .grid-container main .product__list {
    width: 100%;
  }
  .grid-container main .product__list .list__card {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
